.homepage-container {
  width: 100vw;
  height: 100vh;
}

.title-container {
  text-align: center;
  padding-top: 2rem;
}

.title {
  font-size: 3rem;
}

.description-container {
  text-align: center;
  padding-top: 1.5rem;
  width: 100%;
}

.description {
  font-size: 1rem;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  padding-right: 30px;
  padding-left: 30px;
}

.content-container-divider {
  width: 100%;
}

.top-side-container {
  display: flex;
  gap: 5%;
  justify-content: center;
}

.top-side-container, .bottom-side-container {
  width: calc(100vw - 60px);
  padding: 30px;
}

.bottom-side-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.bottom-side-container-title {
  font-size: 2.4rem;
}

.url-input-container {
  width: 70%;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 10px;
  list-style: none;
}

.link-item{
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-item-divider {
  width: 100%;
}

.link-item-delete-button {
  background: white;
}

.next-page-button {
  margin: auto;
  justify-content: flex-end;
}
